@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(75, 85, 99);
}

body {
  color: var(--primary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-light {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #b0c4de 100%);
}

.carousel-root {
  max-width: 96rem !important;
  margin-right: auto;
  margin-left: auto;
}

.carousel.carousel-slider .control-arrow {
  padding-bottom: 2rem !important;
}
.carousel.carousel-slider .control-arrow:hover{
  background: none !important;
}

.carousel .control-next.control-arrow:before{
  border-left: 8px solid var(--primary-color) !important;
}

.carousel .control-prev.control-arrow:before{
  border-right: 8px solid var(--primary-color) !important;
}

.carousel .control-dots .dot {
  background: var(--primary-color) !important;
}

.carousel img {
  width: 500px !important;
}