@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(75, 85, 99);
}

body {
  color: var(--primary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-light {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #b0c4de 100%);
}

.card-project {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(0);
  opacity: 1;
}

.card-project.transitioning {
  transform: translateX(-100%);
  opacity: 0;
}

.carousel.carousel-slider .control-arrow {
  padding-bottom: 2rem !important;
}
.carousel.carousel-slider .control-arrow:hover{
  background: none !important;
}

.carousel .control-next.control-arrow:before{
  border-left: 8px solid var(--primary-color) !important;
}

.carousel .control-prev.control-arrow:before{
  border-right: 8px solid var(--primary-color) !important;
}

.carousel .control-dots .dot {
  background: var(--primary-color) !important;
}